 h2{
    background-color: darkslategrey;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align:  left;
    font-weight: 800;
    padding-left: 45%;
    padding-right: 30%;
    
}
h1 {
    background-color:peru;
    
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: left;
    font-weight: 300;
    padding-left: 30%;
}

ul {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align:start;
    padding-left: 30%;
    white-space: nowrap;
    text-indent: 1%;
}
ol {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 30%;
    font-size: large;
    text-indent: 1%;
    text-align: left;
}

body {
    background-color:palegoldenrod;
    text-align: center;
    
}
.odd {
    background-color:darkslategrey;
    padding-right: 50%;
    background-clip: content-box;
    text-align: center;
    font-size: 24px;    
    width: fit-content; 
    padding-left: 40%;
}

#bottom {
    background-color: darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 0%;
    font-weight: 400;
    
}